body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#calc-body {
    height: 500px;
    width: 350px;
    border: 2px black solid;
    background-color: pink;
}

#display {
    display: flex;

}

#screen {
    margin-top: 50px;
    margin-left: 30px;
    height: 50px;
    width: 250px;
    border: 3px black solid;
    display: flex;
    align-items: flex-end;
    background-color: white;
    margin-right: 20px;
    padding-left: 10px;
    padding-bottom: 5px;
    font-size: 25px;
}

#numberbuttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 30px;
    margin-left: 10px;
    width: 200px;
}

.button {
    border: 2px black solid;
    background-color: gray;
    font-size: 25px;
    padding: 10px;
    margin: 15px;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 128);
}

#buttoncontainer {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

#operatorbuttons {
    margin-top: 30px;
}

#result {
    padding-bottom: 5px;
}

.operator {
    background-color: #a0ffa0;
}

.equal {
    background-color: #a0ffa0;
}

#display {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#backspace {
    margin-right: 20px;
    height: 50px;
}